@import "./variables";
@import "./general";

// header section

.contactPage nav ul li:nth-of-type(5) a {
    color: $white;
}

.contactPage header {
    background-image: url(../assets/contact-image-1.jpg);
    background-position-y: 70px;
    background-repeat: no-repeat;
    background-color: $primary3;
    height: 470px;
        h1 {
            position: relative;
            top: 290px;
            font-size: 5rem;
        }
}

// main section

.contactPage main {
    padding-top: 100px;
    background-color: $primary4;
        div.wrapper {
            display: flex;
            flex-direction: row;
        }
}

// contact information block

div.contactBlock {
    width: 500px;
    height: 300px;
    padding: 40px;
    background-color: $white;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
        .socialMedia a {
            color: $primary1;
            margin: 10px;
            font-size: 24px;
        }
        a.mailToLink {
            text-decoration: none;
            color: $black;
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            margin: 0;
        }
}

.socialMedia ul {
    margin: 0 0 20px 0;
    padding: 5px;
    position: relative;
    right: 15px;
        li {
            margin-right: 7.5px;
        }
}

// contact form section

.contactPage form {
    width: 100%;
    margin-bottom: 100px;
        div.textAndButton {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
                textarea {
                    resize: none;
                    padding: 40px;
                    font-family: "Cabin", sans-serif;
                    border: none;
                    margin-bottom: 20px;
                }
        }
}

.contactPage form div:first-of-type {
    display: flex;
    flex-direction: row;
}

.contactPage input[type=text],
.contactPage input[type=email] {
    border: none;
    font-family: "Cabin", sans-serif;
    width: calc(50% - (15px / 2));
    padding: 30px 40px;
}

.contactPage input[type=text] {
    margin-right: 15px;
}