@media (max-width: 1335px) {

    // index.html

    .homePage .mainSec4 {
        height: 725px;
    }

    .mainSec4 .homeImg4desc {
        padding-top: 0;
    }

    .mainSec4 div.wrapper div.sideBySide:first-of-type {
        margin-bottom: 50px;
    }

}

@media (max-width: 1275px) {

    // index.html

    .homePage img.mainPic {
        height: calc(100vw / 2);
    }

    .mainSec3 ul {
        padding: 0 0 50px;
    }

    .mainSec1 div.descAndButton {
        margin-left: auto;
        justify-content: center;
        align-items: center;
            p {
                text-align: center;
            }
    }

}

@media (max-width: 1180px) {

    // index.html

    .headerText h1 {
        left: 25px;
    }

    .headerText img {
        right: -370px;
    }

    .homePage .mainSec4 {
        height: auto;
    }

    .mainSec4 div.wrapper div.sideBySide:first-of-type,
    .mainSec4 div.wrapper div.sideBySide:last-of-type {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .homeImg3,
    .homeImg4 {
        display: flex;
        justify-content: center;
    }

    .homeImg3 {
        box-shadow: -80px 80px 0 80px $primary2;
    }

    .homeImg3 img {
        left: 177px;
    }

    .homeImg4 {
        box-shadow: 80px 80px 0 80px $primary3;
        background-color: $primary3;
            button {
                align-self: flex-start;
            }
    }

    .homeImg4 img {
        top: -15px;
        right: 207px;
    }

    .mainSec4 .descAndButton {
        margin: 100px;
    }

    .homeImg3desc,
    .mainSec4 .homeImg4desc {
        padding: 100px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homeImg4desc button {
        align-self: center;
    }

    .mainSec5 div {
        padding: 0;
            div.descAndButton {
                padding-top: 0;
            }
    }

    .mainSec6 ul {
        align-items: center;
        flex-wrap: wrap;
            li {
                padding-bottom: 30px;
            }
    }

    // contact.html

    .contactPage {
        
        form {
            width: 50vw;
        }

    }

}

@media (max-width: 1090px) {

    .mainSec3 {
        height: 200px;
            ul li {
                width: 25%;
                margin-top: 10px;
            }
    }

    .sec3Right p {
        display: none;
    }

}

@media (max-width: 1050px) {

    // index.html

    .mainPic {
        display: none;
    }

    .headerMid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerText h1 {
        position: relative;
        left: 116px;
        font-size: 7rem;
        background-color: $primary3;
        padding: 0 15px 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .headerText img {
        width: 140px;
        z-index: 3;
        left: 405px;
        top: 170px;
    }

    .homePage header {
        background-image: url("../assets/home-image-1.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mainSec5 {
        height: 550px;
    }

}

@media (max-width: 950px) {
    
    // index.html

    .mainSec1 div.descAndButton p {
        width: 80vw;
    }

    .mainSec1 h2 {
        text-align: center;
    }

    .mainSec5 {
        height: 500px;
        margin-bottom: 100px;
    }

    .mainSec5 div div.descAndButton {
        justify-content: center;
            h2 {
                padding-bottom: 40px;
            }
            p {
                display: none;
            }
    }

}

@media (max-width: 800px) {

    // index.html

    .mainSec3 h3 {
        display: none;
    }

    .mainSec3 ul {
        padding: 0 0 50px 10vw;
    }

    .homeImg3 img,
    .homeImg4 img {
        height: 350px;
        position: relative;
        top: -15px;
        left: 0;
        right: 0;
    }

    // blogPost.html

    .blogPage main div {
        justify-content: center;
    }

    aside {
        display: none;
    }

    div.blogRight {
        width: 80vw;
        margin: 0;
    }

    // contact.html

    div.contactBlock,
    .contactPage form {
        width: 80vw;
    }

    div.contactBlock {
        margin: 0 0 40px;
    }

    .contactPage main div.wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 700px) {

    .blogPage header h1,
    .contactPage header h1 {
        top: 315px;
        font-size: 4rem;
    }

    // nav bar

    .logo {
        display: none;
    }

    .navBar {
        font-size: 50px;
        position: relative;
        right: 25px;
        border: none;
        padding: 0px 2px 15px 2px;
        background-color: transparent;
    }

    .navSec:hover nav,
    .navSec:focus nav {
        display: block;
    }

    nav {
        display: none;
        width: 100px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -20px;
        z-index: 10;
    }

    nav li a {
        display: block;
        padding: 20px 40px;
        background-color: #ffffff50;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 200px;
        margin: 2.5px;
    }

    nav li a:hover,
    nav li a:focus {
        background-color: $primary2;
    }

    // index.html

    .homePage header {
        background-position: center;
        background-size: cover;
    }

    .homePage h1 {
        left: 0;
        top: 0;
    }

    .headerText img {
        left: 300px;
        top: 173px;
    }

    .mainSec5 div div.descAndButton {
        padding-left: 25px;
    }

    // blogPost.html & contact.html

    .blogPage form div,
    .contactPage form div:first-of-type {
        flex-direction: column;
            input[type=email],
            input[type=text] {
                width: 100%;
            }
            input[type=text] {
                margin-bottom: 5px;
            }
    }

}