@charset "UTF-8";
* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

@media (min-width: 701px) {
  .navBar {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav ul li {
  padding: 10px 30px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #171717;
}

.logo {
  font-size: 2.5rem;
}

* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

footer {
  background-color: #171717;
  height: 40px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div p {
  color: white;
  margin: 0;
  padding: 10px;
}

* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

main p {
  line-height: 32px;
}

.homePage nav ul li:first-of-type a {
  color: #FFFFFF;
}

.homePage header {
  background-color: #B9DDE7;
  height: 100vh;
}

.homePage header .headerMid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homePage header .headerMid img.mainPic {
  position: relative;
  -webkit-box-shadow: 20px 20px #FFFFFF;
          box-shadow: 20px 20px #FFFFFF;
  top: 75px;
}

.homePage header .headerMid .headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerText img {
  position: relative;
  right: -445px;
  top: -45px;
}

.headerText h1 {
  font-size: 8.75rem;
  position: absolute;
  left: 100px;
}

.mainSec1 {
  background-color: #F6F6F6;
}

.mainSec1 div.descAndButton {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: calc(40% - 10%);
  margin-left: 52%;
}

.mainSec1 div.descAndButton button {
  width: 172px;
}

.mainSec2 {
  background-image: url("../assets/home-image-2.jpg");
  background-position: center;
  height: 450px;
  margin: 0;
  padding: 0;
}

.mainSec3 {
  background-color: #F6F6F6;
  height: 550px;
}

.mainSec3 ul {
  padding: 50px 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.mainSec3 ul li {
  width: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainSec3 a {
  margin-top: 40px;
  height: 45px;
  border-radius: 50%;
  background-color: #B9DDE7;
}

.mainSec3 i {
  position: relative;
  top: 12px;
  right: -15px;
  width: 45px;
  color: #171717;
}

.sec3Right {
  padding-left: 20px;
  padding-top: 30px;
}

.mainSec4 {
  height: 690px;
}

.mainSec4 div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainSec4 div.wrapper div.sideBySide:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 75px;
}

.mainSec4 div.wrapper div.sideBySide:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.homeImg3 {
  height: 190px;
  background-color: #68B0C1;
  position: relative;
  top: -30px;
  -webkit-box-shadow: -80px 80px 0 80px #68B0C1;
          box-shadow: -80px 80px 0 80px #68B0C1;
}

.homeImg3 img {
  height: 350px;
  position: relative;
  top: -15px;
  right: 15px;
}

.homeImg3desc {
  padding: 50px 0 0 75px;
}

.homeImg4 {
  height: 190px;
  position: relative;
  top: 30px;
  -webkit-box-shadow: 110px 110px 0 80px #B9DDE7;
          box-shadow: 110px 110px 0 80px #B9DDE7;
}

.homeImg4 img {
  height: 350px;
  position: relative;
  top: 15px;
  right: -15px;
}

.homeImg4desc {
  padding: 50px 75px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeImg4desc button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mainSec4 button {
  width: 150px;
}

.mainSec5 {
  background-color: #F6F6F6;
}

.mainSec5 div {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 85px 0;
}

.mainSec5 div img {
  width: 275px;
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}

.mainSec5 div div.descAndButton {
  height: calc(275px + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 0 125px;
}

.mainSec5 h2,
.mainSec5 p {
  margin: 0;
}

.mainSec6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

.mainSec6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.mainSec6 ul img {
  width: 390px;
  padding: 0 15px;
}

* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

.blogPage nav ul li:nth-of-type(4) a {
  color: #FFFFFF;
}

.blogPage header {
  background-image: url(../assets/blog-image-1.jpg);
  background-position-y: 70px;
  background-repeat: no-repeat;
  background-color: #B9DDE7;
  height: 470px;
}

.blogPage header h1 {
  position: relative;
  top: 290px;
  font-size: 5rem;
}

.blogPage main {
  background-color: #F6F6F6;
  padding-top: 100px;
}

.blogPage main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutHarper,
.recentPosts,
.post {
  background-color: #FFFFFF;
  padding: 40px;
}

.post,
.comment2 {
  border-bottom: 5px #227284 solid;
}

.aboutHarper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutHarper img {
  height: calc(100vw / 3.25);
  -ms-grid-column-align: center;
      justify-self: center;
}

.recentPosts {
  margin-top: 20px;
}

.recentPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recentPosts ul a {
  text-decoration: none;
  color: black;
  font-family: "Cabin", sans-serif;
}

.recentPosts ul li {
  line-height: 30px;
}

.recentPosts ul li:before {
  content: "•";
  font-size: 10px;
  position: relative;
  right: 20px;
}

div.blogRight {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.comments .comment1,
.comments .comment2 {
  padding: 40px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.comments .comment1 img,
.comments .comment2 img {
  height: 75px;
  padding-right: 20px;
}

.comments .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments .right p {
  margin: 0;
}

.blogPage form {
  width: 100%;
  margin-bottom: 100px;
}

.blogPage form div.textAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.blogPage form div.textAndButton textarea {
  resize: none;
  padding: 40px;
  font-family: "Cabin", sans-serif;
  border: none;
  margin-bottom: 20px;
}

.blogPage input[type=text],
.blogPage input[type=email] {
  border: none;
  font-family: "Cabin", sans-serif;
  width: calc(50% - (15px / 2));
  padding: 30px 40px;
}

.blogPage input[type=text] {
  margin-right: 15px;
}

* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

.contactPage nav ul li:nth-of-type(5) a {
  color: #FFFFFF;
}

.contactPage header {
  background-image: url(../assets/contact-image-1.jpg);
  background-position-y: 70px;
  background-repeat: no-repeat;
  background-color: #B9DDE7;
  height: 470px;
}

.contactPage header h1 {
  position: relative;
  top: 290px;
  font-size: 5rem;
}

.contactPage main {
  padding-top: 100px;
  background-color: #F6F6F6;
}

.contactPage main div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.contactBlock {
  width: 500px;
  height: 350px;
  padding: 40px;
  background-color: #FFFFFF;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.contactBlock .socialMedia a {
  color: #227284;
  margin: 10px;
  font-size: 24px;
}

div.contactBlock a.mailToLink {
  text-decoration: none;
  color: #171717;
  font-size: 20px;
  margin-bottom: 15px;
}

div.contactBlock p {
  margin: 0;
}

.socialMedia ul {
  margin: 0 0 20px 0;
  padding: 5px;
  position: relative;
  right: 15px;
}

.socialMedia ul li {
  margin-right: 7.5px;
}

.contactPage form {
  width: 100%;
  margin-bottom: 100px;
}

.contactPage form div.textAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contactPage form div.textAndButton textarea {
  resize: none;
  padding: 40px;
  font-family: "Cabin", sans-serif;
  border: none;
  margin-bottom: 20px;
}

.contactPage form div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactPage input[type=text],
.contactPage input[type=email] {
  border: none;
  font-family: "Cabin", sans-serif;
  width: calc(50% - (15px / 2));
  padding: 30px 40px;
}

.contactPage input[type=text] {
  margin-right: 15px;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: "Oswald", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 100vw;
}

nav,
h1,
h2,
h3,
h4,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style-type: none;
}

button {
  padding: 10px 35px;
  margin: 0;
  background-color: #F38D8D;
  color: #171717;
  border: none;
}

@media (max-width: 1335px) {
  .homePage .mainSec4 {
    height: 725px;
  }
  .mainSec4 .homeImg4desc {
    padding-top: 0;
  }
  .mainSec4 div.wrapper div.sideBySide:first-of-type {
    margin-bottom: 50px;
  }
}

@media (max-width: 1275px) {
  .homePage img.mainPic {
    height: calc(100vw / 2);
  }
  .mainSec3 ul {
    padding: 0 0 50px;
  }
  .mainSec1 div.descAndButton {
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainSec1 div.descAndButton p {
    text-align: center;
  }
}

@media (max-width: 1180px) {
  .headerText h1 {
    left: 25px;
  }
  .headerText img {
    right: -370px;
  }
  .homePage .mainSec4 {
    height: auto;
  }
  .mainSec4 div.wrapper div.sideBySide:first-of-type,
  .mainSec4 div.wrapper div.sideBySide:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .homeImg3,
  .homeImg4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeImg3 {
    -webkit-box-shadow: -80px 80px 0 80px #68B0C1;
            box-shadow: -80px 80px 0 80px #68B0C1;
  }
  .homeImg3 img {
    left: 177px;
  }
  .homeImg4 {
    -webkit-box-shadow: 80px 80px 0 80px #B9DDE7;
            box-shadow: 80px 80px 0 80px #B9DDE7;
    background-color: #B9DDE7;
  }
  .homeImg4 button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .homeImg4 img {
    top: -15px;
    right: 207px;
  }
  .mainSec4 .descAndButton {
    margin: 100px;
  }
  .homeImg3desc,
  .mainSec4 .homeImg4desc {
    padding: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeImg4desc button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mainSec5 div {
    padding: 0;
  }
  .mainSec5 div div.descAndButton {
    padding-top: 0;
  }
  .mainSec6 ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainSec6 ul li {
    padding-bottom: 30px;
  }
  .contactPage form {
    width: 50vw;
  }
}

@media (max-width: 1090px) {
  .mainSec3 {
    height: 200px;
  }
  .mainSec3 ul li {
    width: 25%;
    margin-top: 10px;
  }
  .sec3Right p {
    display: none;
  }
}

@media (max-width: 1050px) {
  .mainPic {
    display: none;
  }
  .headerMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerText h1 {
    position: relative;
    left: 116px;
    font-size: 7rem;
    background-color: #B9DDE7;
    padding: 0 15px 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .headerText img {
    width: 140px;
    z-index: 3;
    left: 405px;
    top: 170px;
  }
  .homePage header {
    background-image: url("../assets/home-image-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .mainSec5 {
    height: 550px;
  }
}

@media (max-width: 950px) {
  .mainSec1 div.descAndButton p {
    width: 80vw;
  }
  .mainSec1 h2 {
    text-align: center;
  }
  .mainSec5 {
    height: 500px;
    margin-bottom: 100px;
  }
  .mainSec5 div div.descAndButton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainSec5 div div.descAndButton h2 {
    padding-bottom: 40px;
  }
  .mainSec5 div div.descAndButton p {
    display: none;
  }
}

@media (max-width: 800px) {
  .mainSec3 h3 {
    display: none;
  }
  .mainSec3 ul {
    padding: 0 0 50px 10vw;
  }
  .homeImg3 img,
  .homeImg4 img {
    height: 350px;
    position: relative;
    top: -15px;
    left: 0;
    right: 0;
  }
  .blogPage main div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside {
    display: none;
  }
  div.blogRight {
    width: 80vw;
    margin: 0;
  }
  div.contactBlock,
  .contactPage form {
    width: 80vw;
  }
  div.contactBlock {
    margin: 0 0 40px;
  }
  .contactPage main div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 700px) {
  .blogPage header h1,
  .contactPage header h1 {
    top: 315px;
    font-size: 4rem;
  }
  .logo {
    display: none;
  }
  .navBar {
    font-size: 50px;
    position: relative;
    right: 25px;
    border: none;
    padding: 0px 2px 15px 2px;
    background-color: transparent;
  }
  .navSec:hover nav,
  .navSec:focus nav {
    display: block;
  }
  nav {
    display: none;
    width: 100px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -20px;
    z-index: 10;
  }
  nav li a {
    display: block;
    padding: 20px 40px;
    background-color: #ffffff50;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
    margin: 2.5px;
  }
  nav li a:hover,
  nav li a:focus {
    background-color: #68B0C1;
  }
  .homePage header {
    background-position: center;
    background-size: cover;
  }
  .homePage h1 {
    left: 0;
    top: 0;
  }
  .headerText img {
    left: 300px;
    top: 173px;
  }
  .mainSec5 div div.descAndButton {
    padding-left: 25px;
  }
  .blogPage form div,
  .contactPage form div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage form div input[type=email],
  .blogPage form div input[type=text],
  .contactPage form div:first-of-type input[type=email],
  .contactPage form div:first-of-type input[type=text] {
    width: 100%;
  }
  .blogPage form div input[type=text],
  .contactPage form div:first-of-type input[type=text] {
    margin-bottom: 5px;
  }
}
